$col-width: 3em;
$box-shadow-size: 7px;
$bg-color: whitesmoke;

@mixin vendor-prefix($name, $args) {
    -webkit-#{$name}: $args;
       -moz-#{$name}: $args;
        -ms-#{$name}: $args;
         -o-#{$name}: $args;
            #{$name}: $args;
}

body {
    background-color: $bg-color;
    background-image: url(/images/bg.png);
    color: #333;
    font-family: 'Open Sans', sans-serif;
    padding: 1em;
    margin: 0 auto;
    max-width: 56em;

    > header {
        margin-bottom: 2em;

        .menu {
            float: right;
            font-size: 1.2em;

            a {
                @include vendor-prefix(transition, color 0.5s ease-out);
                color: #777;
            }
            a:hover {
                color: #000;
            }
        }

        .title {
            font-size: 2.5em;
            font-family: 'Cantata One', serif;
            margin: 0;
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        }
        .subtitle {
            margin: 0.3em 0 0;
        }
    }

    > footer {
        clear: both;
        padding-top: 1em;

        p,
        p a {
            text-align: center;
            color: #bbb;
        }
    }
}

h1 {
    font-family: 'Cantata One', serif;
    font-weight: normal;
}

a {
    color: #333;
    text-decoration: none;

    &:hover {
        //text-decoration: underline;
    }
}

article {
    background: rgba(white, 0.3);
    border-radius: 3px;
    @include vendor-prefix(transition, background 0.3s ease-in);
}

// Hide before async loading
.editions {
    display: none;
}

.message {
    background: rgba(gold, 0.3);
    border: solid 1px goldenrod;
    border-radius: 3px;
    box-shadow: 0 1px 8px rgba(#999, 0.2) inset, 0 0 $box-shadow-size gold;
    color: #555;
    padding: 0.4em;
    text-align: center;
}

section.news {
    > header {
        color: #bbb;
        float: left; /* for firefox */
        margin: 0.5em 0;
        padding: 0.5em 0;
        width: 100%;

        a {
            color: #bbb;
        }

        p {
            margin: 0;

            &:nth-child(1),
            &:nth-child(2) {
                text-align: right;
                width: $col-width;
                float: left; /* for firefox */
            }
            &:nth-child(3) {
                text-align: left;
                padding-left: 2em;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }

    article {
        clear: both; /* for firefox */
        margin: 0.5em 0;
        padding: 0.5em 0;
        width: 100%;

        &:hover {
            background: rgba(#333, 0.2);

            a:visited {
              color: #666;
            }

            a:hover {
                color: rgba(white, 0.9);
            }
        }

        a {
            &:hover {
                //text-decoration: underline;
            }
            &:visited {
                color: #bbb;
            }
        }

        header {
            float: left; /* for firefox */

            > p {
                float: left; /* for firefox */
                width: $col-width;
                margin: 0;
                text-align: right;
            }
        }

        h1 {
            margin: 0;
            padding-left: 2em;
            font-size: 1em;
            font-weight: normal;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-family: 'Open Sans', sans-serif;

            &:hover {
                //white-space: normal;
            }
        }
    }
}

section.editions {
    article {
        margin: 0.5em;
        padding: 1em;
        display: inline-block;
        vertical-align: top;

        &:hover {
            background: rgba(#333, 0.2);

            a:hover {
                color: rgba(white, 0.9);
            }
        }

        h1 {
            font-size: 1.5em;
            margin: 0;
        }
        ul {
            color: #bbb;
            padding-left: 1.5em;
            margin: 0.5em 0 0;
        }
    }
}

section.settings {
    input, select {
        padding: 0.4em;
        color: #555;
        outline: none;
    }
    p.add-edition {
        margin: 0;
        padding: 0.4em 0;
        line-height: 2em; // Vertical align icons
        margin-left: 2em; // Ident the line without scrollbar
    }
    .editions {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .edition {
        margin: 0;
        overflow: hidden;
        width: 100%;

        input {
            &[type="text"] {
                border: solid 1px #ccc;
                border-radius: 3px;
                box-shadow: 0 1px 8px rgba(#999, 0.2) inset;
                background: rgba(white, 0.7);
                @include vendor-prefix(transition, box-shadow 0.5s ease-out);

                &:focus {
                    box-shadow: 0 1px 8px rgba(#999, 0.2) inset, 0 0 $box-shadow-size gold;
                    border: solid 1px goldenrod;
                }
            }

            &[name="titles[]"] {
                width: 8em;
                float: left;
                margin: $box-shadow-size 0;
                margin-left: 2em; // Ident the line without scrollbar
            }
            &[name="subreddits[]"] {
                width: 100%;
            }
        }
        span { // HACK: Allow its child to use the remaining space
            display: block;
            overflow: hidden;
            padding: $box-shadow-size 1em; // Leave room for box-shadow
        }
        a {
            float: right;
            line-height: 3.2em; // FIXME: Vertical align icons
            margin-left: 0.5em;
        }
    }
    .edition.empty {
        display: none;
    }
    a {
        color: #555;
        @include vendor-prefix(transition, color 0.5s ease-out);
        &:hover {
            color: #000;
        }
    }
    p.save-settings {
        text-align: center;
    }
}

section.error {
    text-align: center;
    h1 {
        font-size: 1.5em;
    }
    a {
        //text-decoration: underline;
    }
    img {
        background: $bg-color;
        max-width: 90%;
        border-radius: 4px;
        box-shadow: 1px 1px 6px #333;
        @include vendor-prefix(animation-duration, 10s);

        @include vendor-prefix(animation-duration, 10s);
        @include vendor-prefix(animation-name, color);
        @include vendor-prefix(animation-iteration-count, infinite);
    }
}
@-webkit-keyframes color {
    from, to {
        background: floralwhite;
    }
    50% {
        background: orange;
    }
}

@media screen and (max-width: 480px) {
    body {
        padding: 0.3em;
        > header {
            margin-bottom: 1em;
            .title {
                text-align: center;
            }
        }
    }
    body > header .subtitle,
    section.news > header p:nth-child(2),
    section.news > article p:nth-child(2) {
        display: none;
    }
    section.news > header p:nth-child(1),
    section.news > article p:nth-child(1) {
        width: $col-width - 1;
    }
    section.news > header p:nth-child(3),
    section.news > article h1 {
        padding-left: 1em;
    }
    section.editions {
        article {
            display: block;
        }
    }
    section.settings {
        .editions {
            input[name="titles[]"] {
                width: 6em;
            }
        }
    }
}
