@import url(http://fonts.googleapis.com/css?family=Cantata+One|Open+Sans);
@import url(http://necolas.github.com/normalize.css/2.0.1/normalize.css);
@import url(/styles/icons.css);

$col-width: 3em;
$bg-color: whitesmoke;

body {
    background-color: $bg-color;
    background-image: url(/images/bg.png);
    color: #333;
    font-family: 'Open Sans', sans-serif;
    padding: 1em;
    margin: 0 auto;
    max-width: 56em;

    > header {
        margin-bottom: 2em;

        .title {
            font-size: 2.5em;
            font-family: 'Cantata One', serif;
            margin: 0;
        }
        .subtitle {
            margin: 0.3em 0 0;
        }
    }

    > footer {
        clear: both;
        padding-top: 1em;

        p,
        p a {
            text-align: center;
            color: #bbb;
        }
    }
}

h1 {
    font-family: 'Cantata One', serif;
    font-weight: normal;
}

a {
    color: #333;
    text-decoration: none;
    &:hover {
        //text-decoration: underline;
    }
}

article {
    background: rgba(white, 0.3);
    border-radius: 3px;

    $delay: 300ms;
    -webkit-transition: background $delay ease-in;
       -moz-transition: background $delay ease-in;
        -ms-transition: background $delay ease-in;
         -o-transition: background $delay ease-in;
            transition: background $delay ease-in;
}

section.news {
    > header {
        color: #bbb;
        float: left; /* for firefox */
        margin: 0.5em 0;
        padding: 0.5em 0;
        width: 100%;

        a {
            color: #bbb;
        }

        p {
            margin: 0;

            &:nth-child(1),
            &:nth-child(2) {
                text-align: right;
                width: $col-width;
                float: left; /* for firefox */
            }
            &:nth-child(3) {
                text-align: left;
                padding-left: 2em;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }

    article {
        clear: both; /* for firefox */
        margin: 0.5em 0;
        padding: 0.5em 0;
        width: 100%;

        &:hover {
            background: rgba(#333, 0.2);

            a:visited {
              color: #666;
            }

            a:hover {
                color: rgba(white, 0.9);
            }
        }

        a {
            &:hover {
                //text-decoration: underline;
            }
            &:visited {
                color: #bbb;
            }
        }

        header {
            float: left; /* for firefox */

            > p {
                float: left; /* for firefox */
                width: $col-width;
                margin: 0;
                text-align: right;
            }
        }

        h1 {
            margin: 0;
            padding-left: 2em;
            font-size: 1em;
            font-weight: normal;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-family: 'Open Sans', sans-serif;

            &:hover {
                //white-space: normal;
            }
        }
    }
}

section.editions {
    article {
        margin: 0.5em;
        padding: 1em;
        display: inline-block;
        vertical-align: top;

        &:hover {
            background: rgba(#333, 0.2);

            a:hover {
                color: rgba(white, 0.9);
            }
        }

        h1 {
            font-size: 1.5em;
            margin: 0;
        }
        ul {
            color: #bbb;
            padding-left: 1.5em;
            margin: 0.5em 0 0;
        }
    }
}

section.error {
    text-align: center;
    h1 {
        font-size: 1.5em;
    }
    a {
        //text-decoration: underline;
    }
    img {
        background: $bg-color;
        max-width: 90%;
        border-radius: 4px;
        -webkit-box-shadow: 1px 1px 6px #333;
        //-moz-box-shadow: 1px 1px 6px #333;
        -ms-box-shadow: 1px 1px 6px #333;
        -o-box-shadow: 1px 1px 6px #333;
        box-shadow: 1px 1px 6px #333;

        -webkit-animation-duration: 10s;
        -webkit-animation-name: color;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-duration: 10s;
        -moz-animation-name: color;
        -moz-animation-iteration-count: infinite;
    }
}
@-webkit-keyframes color {
    from, to {
        background: floralwhite;
    }
    50% {
        background: orange;
    }
}

@media screen and (max-width: 480px) {
    body {
        padding: 0.3em;
        > header {
            margin-bottom: 1em;
            .title {
                text-align: center;
            }
        }
    }
    body > header .subtitle,
    section.news > header p:nth-child(2),
    section.news > article p:nth-child(2) {
        display: none;
    }
    section.news > header p:nth-child(1),
    section.news > article p:nth-child(1) {
        width: $col-width - 1;
    }
    section.news > header p:nth-child(3),
    section.news > article h1 {
        padding-left: 1em;
    }
    section.editions {
        article {
            display: block;
        }
    }
}
